.container {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
}

.card h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card h5{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card .para{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

button{
    background: #1D546D;
    border-radius: 10px;
    border: none;
}


a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.card img {
    height: 120px;
    object-fit: contain;
}